.product {
  width: 80%;
  margin: 0 10%;
  height: 50vh;
}

.product-mob {
  display: none;
}

.left-coll {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 50px 20px;
}

.prod-img {
  width: 250px;
  margin: 0 20px;
}

.right-coll {
  width: 50%;
  text-align: left;
  margin: 50px 20px;
}

.list li {
  font-size: larger;
}

@media (max-width: 1463px) {
  .product {
    display: none;
  }

  .product-mob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  .right-coll {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
  }

  .left-coll {
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  .list {
    list-style: circle;
  }

  .info {
    margin-top: 20px;
  }

  .price {
    text-align: center;
    justify-content: center;
  }

  .boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .buy-button {
    margin-top: 10px;
  }

  .box {
    width: 90%;
    margin: 10px auto;
  }

  .ft {
    margin-top: 50px;
  }
}
